/*
Så nu börjar det.
Vad jag behöver göra är att konvertera allt till SCSS syntax, från CSS.
Här kommer jag skriva upp alla syntax skillnaderna jag upptäcker och tänker använda mig utav.
Utöver detta så tänker jag att jag behöver se till att det blir effektivare kod.

x Stäng med ;
- @mixin
- @include
- &:hover { cursor: pointer; }
- &:disabled {}
x Variable declarations, like $var: value. //Har testat skapa färgvariabler.
- Flow control at-rules, like @if and @each.
- The @error, @warn, and @debug rules.





*/
.ruler {
    // 576px window width and more
    @include sm {
        padding: 0 20px;
    }
    // 992px window width and more
    @include lg {
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
    }
    // 1400px window width and more
    @include rwd(1400) {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.auto {
    margin: auto;
    text-align: center;
}


// .letterBG {
//
//     background-image: url('bgLetters.png');
//
//     background-attachment: fixed;
//     z-index: 1;
// }


* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

/*** BASIC LAYOUT ***/

html {
    background-image: url('bgLetters-dark.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    height: 100%;


}



body {
    height: 100%;
    display: flex;
    flex-direction: column;


}

.main {
    flex: 1 0 auto;
}

.header,
.footer {
    flex: 0 0 auto;
    overflow: hidden;
}

.container {
    max-width: 48em;
    padding: 0 0.5em;
    margin: 0 auto;
    overflow: hidden;

    border: thin solid #000;



}

.widescreen .container {
    max-width: 72em;
}

/* very ugly overflow fix, avoid this whenever possible! */

.main .container {
    overflow-x: auto;
    background-color: $dark-mode-body; /*Containerns bakgrund blir vit såhär.*/

}

/*** BASIC LAYOUT: HEADER ***/

.header {
    background: $dark-mode-body;

    margin-left: auto;
    margin-right: auto; /*Det här fungerade ännu bättre än att specificera, toppen!*/

}

.title,
.logo {
    float: left;
    padding: 3em 3em 3em 0;
}

.title * {
    margin: 0;
    color: $title-black;
}

.title p {
    font-style: italic;
    color: $dark-mode-text;
}

.logo {
    height: 10.8em;
}

.logo * {
    display: block;
    height: 100%;
}

.logo img {
    min-width: 4.8em;
}



.logo+.title h1 {
    margin: 0.8rem 0;
    color: $dark-mode-text;
}

.logo+.title.tagline h1 {
    margin: 0;
    color: $dark-mode-text;
}

.nav {
    padding: 3em 0;
    text-align: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

.nav a,
.nav-toggle {
    color: #fff;
}

.nav .active a,
.nav a:hover,
.nav-toggle:hover {
    color: $dark-mode-text;
    text-decoration: underline;
}

.nav a:hover,
.nav-toggle:hover {
    color: $dark-mode-text;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}

/* IE8 + IE9 clearfix */

.header>.container::after {
    content: '';
    display: block;
    clear: both;
}

.flash-img {
    background-image: url('tree2-dark.jpg');

    height: 40px;
}

/*** BASIC LAYOUT: FOOTER ***/

.footer {

    background-image: url('footer-dark.jpg');
    // overflow: hidden;
    color: $dark-mode-text;
    // border: 50px;
    // width:768px; margin:0 auto; //det är den här som här boven, width? :/
    max-width: 48em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    // flex: 0 0 auto;
    // text-align: center;
    // margin: 0 auto;

}

.footer a {
    color: $footer-white;
}

.footer a:hover {
    color: #fff;
}

.fieldSetCustomColor {

color: #fff;
background-color: $dark-mode-body;

}

.footer p {
    color: $dark-mode-text;
    margin: 0;
    padding: 3em 0;
}

.footer .social {
    float: right;
    padding: 1.5em 0 1.5em 1em;
    font-size: 2rem;

}

/*** BASIC LAYOUT: EXTRA SMALL DEVICES ***/

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 2em 1.5em 2em 0;
    }

    .logo {
        height: 8.8em;
    }

    .nav {
        clear: both;
        padding: 0;
    }

    .nav ul {
        padding-bottom: 1em;
    }

    .nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
        color: $dark-mode-text;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .js .nav-toggle>* {
        vertical-align: middle;
    }

    .footer p {
        color: $dark-mode-text;
        padding: 1em 0;
    }

    .footer .social {
        padding: 0.5em 0 0.5em 1em;
    }
}

/*** TYPOGRAPHY ***/

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: $dark-mode-text;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: Didot;

}

p,
hr,
table,
.table-responsive,
ol,
ul,
dl,
dd,
pre,
blockquote,
fieldset {
    margin-bottom: 1em;

}

a {
    text-decoration: none;
    transition: color 0.2s ease-in;
    color: $dark-mode-text;
}

a:hover {
    color: $dark-mode-text;
}

//
// h2 {
//     font-size: 1.7rem;
//     font-family: Didot;
//
// }
//
// h3 {
//     font-size: 1.4rem;
//     font-family: Didot;
//
// }
//
// h4 {
//     font-size: 1.1rem;
//     font-family: Didot;
//
// }
//
// h5 {
//     font-size: 1rem;
//     font-family: Didot;
//
// }
//
// h6 {
//     font-size: 1rem;
//     font-weight: normal;
//     font-style: italic;
//     font-family: Didot;
//
// }

img {
    max-width: 100%;
}

hr {
    border: 0.15em solid $hr-line-hue;
    border-radius: 0.3em;
    background: $hr-line-hue;
}

abbr {
    text-decoration: underline dotted;
    font-family: Didot;

}

/*** UTILITIES ***/

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.image {
    display: block;
    margin: 0 auto;
}

.image.xsmall {
    width: 20%;
}

.image.small {
    width: 40%;
}

.image.large {
    width: 60%;
}

.image.xlarge {
    width: 80%;
}

.image.float-left {
    float: left;
    margin: 1em 2em 1em 0;
}

.image.float-right {
    float: right;
    margin: 1em 0 1em 2em;
}

// .image img {
//     display: block;
//     width: 100%;
// } ??????

@media (max-width: 767px) {
    .image.xsmall {
        width: 60%;
    }

    .image.small {
        width: 80%;
    }

    .image.large,
    .image.xlarge {
        width: 100%;
    }

    .image.float-left,
    .image.float-right {
        float: none;
        margin: 0 auto;
    }
}

/*** TABLES ***/

table {
    border-spacing: 0;
}

td,
th {
    padding: 0.4em 1em;
    vertical-align: top;
}

th {
    font-weight: bold;
    text-align: center;
    background: $hr-line-hue;
    color: $dark-mode-body;
}

td,
th {
    border: 1px solid $footer-white;
}

tr:not(:last-child) td,
tr:not(:last-child) th {
    border-bottom: 0 none;
}

thead tr:last-child th {
    border-bottom: 0 none;
}

td:not(:last-child),
th:not(:last-child) {
    border-right: 0 none;
}

tr:first-child td:first-child,
tr:first-child th:first-child {
    border-top-left-radius: 0.3em;
}

tr:first-child td:last-child,
tr:first-child th:last-child {
    border-top-right-radius: 0.3em;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.3em;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.3em;
}

table thead+tbody tr:first-child td {
    border-radius: 0 !important;
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive>table {
    margin-bottom: 0;
}

/*** LISTS ***/

ol,
ul {
    list-style-position: outside;
    padding-left: 1.5em;
}

ol {
    padding-left: 2.5em;
}

li {
    padding-left: 0.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

/*** CODE ***/

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid $footer-white;
    border-radius: 0.3em;
    background: $hr-line-hue;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
    color: $dark-mode-body;
}

pre {
    padding: 0 1em;
    border: 1px solid $footer-white;
    border-radius: 0.3em;
    background: $hr-line-hue;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/*** BLOCKQUOTE ***/

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid $hr-line-hue;
}

/*** FORMS ***/

label,
fieldset legend {
    font-weight: bold;
    background-color: $dark-mode-body;
}

input:not([type='checkbox']):not([type='radio']),
button,
select,
textarea,
fieldset,
fieldset
legend {
    border: 1px solid #ccc;
    border-radius: 0.3em;
    /*background: #fff;*/
    transition: none 0.2s ease-in;
    transition-property: border-color, background, box-shadow;
}

input:not([type='checkbox']):not([type='radio']),
button,
select,
textarea {
    padding: 0.5em 1em;
    outline: 0 none;
    font-size: 1rem;
}

input:focus:not([type='checkbox']):not([type='radio']),
button:focus,
select:focus,
textarea:focus {
    border-color: $link-blue;
    box-shadow: 0 0 8px $link-blue;
}

input:focus,
button:focus,
button:hover {
    background: $hr-line-hue;
    cursor: pointer;
}

textarea,
select {
    vertical-align: bottom;
    overflow: auto;
}

fieldset {
    padding: 1em;
    background: $hr-line-hue;
}

fieldset legend {
    padding: 0 0.5em;
}

fieldset label,
fieldset input,
fieldset button,
fieldset select,
fieldset textarea {
    margin: 0.2em 0.5em;
}

fieldset label:first-child,
fieldset input:first-child,
fieldset button:first-child,
fieldset select:first-child,
fieldset textarea:first-child {
    margin-left: 0;
}

fieldset label:last-child,
fieldset input:last-child,
fieldset button:last-child,
fieldset select:last-child,
fieldset textarea:last-child {
    margin-right: 0;
}

/* Firefox input size fix */

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}










.landingpage {
    display: grid;
    background-color: $dark-mode-body;
    gap: 1em 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
    color: #fff;
}

.kmom-box {
    grid-column: span 1;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.kmom-box a {
    text-decoration: underline;
    /*color: black;*/
}

.kmom-box.project {
    grid-column: span 3;
}

@media(max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 1;
    }
 
}
