
@import '../../shared/scss/base';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
// @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cinzel&display=swap');

* {
    font-family: 'Architects Daughter', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6, {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Architects Daughter', cursive;
}
